<div class="chat">
  <h4 class="d-block chat-header">Chat</h4>

  <div class="chat-box">
      <div class="messages" #messagesContainer>
        <div *ngFor="let msg of messages; let i= index" class="message d-flex flex-column">
          <div *ngIf="isNewDate(i)" class="date-divider">
            {{ msg.sendDateTime | date:'dd MMMM yyyy' }}
          </div>
  
          <span class="message-sender"[ngClass]="{'align-self-end': loggedUser == msg.senderName}">{{ msg.senderName === loggedUser ? "You" : msg.senderName }}</span> 
          <span class="message-content"
                [ngClass]="{
                  'sender-message': loggedUser === msg.senderName,
                  'others-message': loggedUser !== msg.senderName,
                  'align-self-end': loggedUser == msg.senderName
                }">
            {{ msg.content }}
          </span>
        
          <span class="message-time" [ngClass]="{'align-self-end': loggedUser == msg.senderName}">
            {{ msg.sendDateTime | date:'HH:mm' }}
          </span>
        </div>
      </div>
      <div class="input-group mt-2">
        <input [(ngModel)]="message" [maxlength]="1000" (keyup.enter)="send()" class="form-control" placeholder="Type your message..." />
        <button class="btn btn-primary" (click)="send()">Send</button>
      </div>
    </div>
</div>
