<nav class="navbar navbar-expand-lg bg-body-tertiary d-block w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Activity planner</a>
      <button class="btn" [ngClass]="{'activated': currentRoute==='/activities'}" routerLink="/activities" (click)="changeRoute('/activities')" >Activities</button>
      <button class="btn" [ngClass]="{'activated': currentRoute==='/groups'}" routerLink="/groups" (click)="changeRoute('/groups')">Groups</button>
      <div class="d-flex ms-auto gap-2">
  
        <button routerLink="/user" class="btn btn-outline-primary">User</button>
        <button routerLink="/logout" class="btn btn-outline-danger" (click)="openLogoutModal()">Logout</button>
  
        <div class="modal-backdrop" *ngIf="showLogoutModal">
          <div class="modal-content">
            <h5>Confirm Logout</h5>
            <p>Are you sure you want to logout?</p>
            <div class="d-flex justify-content-between mt-3">
              <button class="btn btn-secondary" (click)="closeLogoutModal()">Cancel</button>
              <button class="btn btn-danger" (click)="logout()">Logout</button>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-secondary" (click)="toggleDarkMode()">
          🌓
        </button>
      </div>
    </div>
  </nav>