<nav class="navbar navbar-expand-lg background-primary w-100 position-absolute" style="font-size: 2.5rem;" >
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Toggler button for collapsed navbar -->
    <button class="navbar-toggler"
            type="button"
            (click)="toggleNavbar()"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <!-- Center: Brand (on small screens) -->
  <div class="d-lg-none mx-auto text-center d-flex">
    <a class="navbar-brand" routerLink="/home">
      Activity planner
    </a>
  </div>

  <!-- Right: Dark mode button (on small screens) -->

  <button class="button-outline-secondary d-lg-none theme-mode-button" (click)="toggleDarkMode()">🌓</button>

  <!-- Large screen brand -->
  <a class="navbar-brand d-none d-lg-block me-auto" routerLink="/home">
    Activity planner
  </a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #navbarCollapse>

      <!-- Left side nav buttons -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn" 
                  [ngClass]="{'activated': currentRoute==='/activities'}" 
                  routerLink="/activities" 
                  (click)="changeRoute('/activities')">
            Activities
          </button>
        </li>
        <li class="nav-item">
          <button class="btn" 
                  [ngClass]="{'activated': currentRoute==='/groups'}" 
                  routerLink="/groups" 
                  (click)="changeRoute('/groups')">
            Groups
          </button>
        </li>
        <li class="nav-item d-lg-none">
          <button routerLink="/user" class="btn">{{userDetails?.username}}</button>
        </li>
        <li class="nav-item d-lg-none">
          <button class="btn" (click)="openLogoutModal()">Logout</button>
        </li>
      </ul>

      <!-- Right side (only on large screens and up) -->
      <div class="d-none d-lg-flex justify-content-center align-items-center ms-auto gap-2">
        <button routerLink="/user" class="btn">{{userDetails?.username}}</button>
        <button class="btn" (click)="openLogoutModal()">Logout</button>
        <button class="button-outline-secondary theme-mode-button"  (click)="toggleDarkMode()">🌓</button>
      </div>
    </div>
  </div>
</nav>

  <div class="modal-backdrop" *ngIf="showLogoutModal">
    <div class="modal-content">
      <h5>Confirm Logout</h5>
      <p>Are you sure you want to logout?</p>
      <div class="d-flex justify-content-between mt-3">
        <button class="button-secondary" (click)="closeLogoutModal()">Cancel</button>
        <button class="button-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>