<div class="d-flex justify-content-center mt-5 align-items-center h-100 flex-column">
  <h2>Group activity planner</h2>
  
    <div *ngIf="backendErrors.length > 0" class="alert alert-danger">
        <ul class="mb-0">
          <li *ngFor="let error of backendErrors">{{ error }}</li>
        </ul>
      </div>
    <form [formGroup]="registerForm" class="w-sm-75 w-md-50 w-lg-25 p-4 border rounded shadow"  style="max-width: 350px; width: 350px;" (ngSubmit)="onSubmit()" novalidate>
        <h1>Register</h1>
        <!-- Username -->
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input id="username" type="text" class="form-control" 
                 [maxlength]="24"
                 [class.is-invalid]="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
                 formControlName="username" />
                 <app-form-validation-error
                 [control]="registerForm.get('username')"/>
        </div>
      
        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input id="email" type="email" class="form-control" 
                 [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                 [maxlength]="254"
                 formControlName="email" />
          <app-form-validation-error
            [control]="registerForm.get('email')"
          />
        </div>
      
        <!-- Password -->
        <div class="mb-3 position-relative">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
              <input [type]="showPassword ? 'text' : 'password'" 
                     id="password" 
                     class="form-control"
                     formControlName="password"
                     [maxlength]="30"
                     [class.is-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" />
          
              <button type="button" class="button-outline-secondary" (click)="showPassword = !showPassword">
                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
            </div>
            <app-form-validation-error
                [control]="registerForm.get('password')"
                patternMessage="Password must contain uppercase, lowercase and a number"
            />
          </div>
      
        <!-- Confirm Password -->
        <div class="mb-3 position-relative">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <div class="input-group">
              <input [type]="showConfirmPassword ? 'text' : 'password'" 
                     id="confirmPassword" 
                     class="form-control"
                     formControlName="confirmPassword"
                     [maxlength]="30"
                     [class.is-invalid]="(registerForm.get('confirmPassword')?.touched && registerForm.hasError('passwordsMismatch'))" />
          
              <button type="button" class="button-outline-secondary" (click)="showConfirmPassword = !showConfirmPassword">
                <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
            </div>
            <div class="invalid-feedback" *ngIf="registerForm.hasError('passwordsMismatch') && registerForm.get('confirmPassword')?.touched">
              Passwords do not match.
            </div>
          </div>
      
        <button type="submit" class="button-primary" [disabled]="registerForm.invalid">Register</button>
        <p class="mt-3">Already have an account? <a routerLink="/login" >Sign in</a></p>
      </form>
</div>

  