
$light-colors: (
  'primary': #30beba,
  'secondary': #5b928f,
  'tertiary': #e6f0ef, // soft background
  'success': #198754,
  'warning': #ffc107,
  'danger': #ff0019
);

$dark-colors: (
  'primary': #006464,
  'secondary': #394b4a,
  'tertiary': #e6f0ef1f, // subtle dark background
  'success': #198754,
  'warning': #ffc107,
  'danger': #ff2c41
);

$spacings:(
    "sm": 0.5rem,
    "md": 1rem,
    "lg":2rem,
);