<app-navbar/>
<div class="container d-flex flex-column align-content-center justify-content-center w-100">
    <h1>Create group</h1>
    <form (ngSubmit)="createGroup()" #groupForm="ngForm" class="container mt-4">
    
        <!-- group Name -->
        <div class="mb-3">
          <label for="groupName" class="form-label">Group Name</label>
          <input
            type="text"
            id="groupName"
            class="form-control"
            name="groupName"
            [(ngModel)]="groupDetails.name"
            [maxlength]="40"
            [minlength]="3"
            required
          />
        </div>
      
        <!-- group Details -->
        <div class="mb-3">
          <label for="groupDetails" class="form-label">Description</label>
          <textarea
            id="groupDetails"
            class="form-control"
            name="groupDetails"
            rows="3"
            [maxlength]="250"
            [(ngModel)]="groupDetails.description"
          ></textarea>
        </div>
      
        
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-between">
            <button type="button" class="button-secondary" routerLink="/groups">Back</button>
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" class="button-primary" [disabled]="!groupForm.valid">Create group</button>
          </div>
        </div>
       
      </form>
</div>
